#body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  user-select: none;
}

#board {
  width: 100%;
  height: 100%;
  background-color: black;
  box-sizing: border-box;
}
#board canvas {
  width: 100%;
  height: 100%;
}
#toolPalette {
  background-color: white;
  z-index: 1;
  height: 60px;
  width: 90%;
  position: fixed;
  top: -45px;
  left: 5%;
  box-shadow: 0px 4px 7px 0px rgba(207, 207, 207, 1);
  border-radius: 5px 5px 30px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.3s ease-in-out;
  cursor: auto;
}

#toolPalette:hover {
  transform: translateY(45px);
}

.list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* TOOLS */
.tool {
  margin: 5px;
}

.tool img {
  width: 30px;
  height: 30px;
}

.activeTool {
  filter: invert(78%) sepia(13%) saturate(1508%) hue-rotate(102deg)
    brightness(107%) contrast(89%);
}

/* COLORS */

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid grey;
  margin: 5px;
}

.activeColor {
  border: 3px solid rgb(97, 241, 183);
}

#black {
  background-color: black;
}
#blue {
  background-color: blue;
}
#red {
  background-color: red;
}
#green {
  background-color: green;
}

#customColor {
  background-color: #fcff00;
}

#colorPicker {
  opacity: 0;
  cursor: pointer;
}

/* Shapes */
